.Galeria {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.875rem;
/*  */
gap: 1rem;
}


.img {
    width: 30%;
    height: 250px;
    border-radius: 3px;
    /*  */
    object-fit: cover;
}