.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*  */
    flex-wrap: wrap;
    gap: 1rem;
}

.card__item {
    max-width: 350px;
    width: 50%;
    background-color: var(--white-color);
    color: var(--second-color);
    text-align: center;
    padding: 2.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*  */
    transition: background-color 0.3s ease;
}

.card__item--activo {
    background-color: var(--main-color);
}

.cta:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}

.cta--negro:hover {
    background-color: var(--white-color);
    color: var(--second-color);
}

.cta--negro {
    background-color: var(--second-color);
    color: var(--white-color);
}

.card__plan {
    color: var(--second-color);
    margin-bottom: 1.25rem;

}

.card__precio {
    font-size: 3rem;
    color: var(--second-color);
    margin-bottom: 1.25rem;
}

.card__caracteristica {
    color: var(--second-color);
    margin-bottom: 1.25rem;
}

@media (max-width: 800px) {
    .Servicios {
        width: 100%;
        flex-direction: column;
    }

    .titulo {
        text-align: center;
        font-size: 1.5rem;
    }

    .copy {
        font-size: 0.87rem;
        margin: auto 15px;
    }

    .cards {
        margin-top: 10px;
        flex-direction: column;
    }

    .card__plan {
        text-align: center;
        font-size: 1.5rem;
    }

    .card__precio {
        text-align: center;
        font-size: 1.5rem;
    }

    .card__caracteristica {
        text-align: center;
        font-size: 1rem;
    }

    .cta {
        padding: 10px;
    }
}